{% extends 'main.html' %}

{% block content %}
    <div class="container">
        <form action="" class="email-form" novalidate method="post">
            {% csrf_token %}
            <h2>Subscribe to our newsletter</h2>
            <p>If you forgot youre password can send email.</p>
            <div class="form-group" name="email">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" placeholder="Enter your email" required>
            </div>
            <input type="submit" value="Subscribe" class="btn-subscribe">
        </form>
        <style>
            .email-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.email-form h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.email-form p {
    margin-bottom: 20px;
    color: #666;
}

.email-form .form-group {
    margin-bottom: 20px;
}

.email-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

.email-form input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.email-form .btn-subscribe {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.email-form .btn-subscribe:hover {
    background-color: #0069d9;
}

        </style>
    </div>
{% endblock %}
