<footer>
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5>About Us</h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed malesuada, magna a tristique pharetra, est quam tincidunt sem, ac bibendum turpis tellus et ipsum.</p>
        </div>
        <div class="col-md-3">
          <h5>Links</h5>
          <ul class="list-unstyled">
            <li><a href="#">Home</a></li>
            <li><a href="#">Products</a></li>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Contact Us</h5>
          <ul class="list-unstyled">
            <li><i class="fa fa-map-marker"></i> 123 Main Street, New York, NY 10001, USA</li>
            <li><i class="fa fa-phone"></i> +1 (555) 555-5555</li>
            <li><i class="fa fa-envelope"></i> info@example.com</li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  <style>
    footer {
  background-color: #4f868c;
  padding: 50px 0;
}

h5 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

p {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}

ul li {
  font-size: 1rem;
  color: #333;
  line-height: 1.5;
}

ul li a {
  color: #333;
  text-decoration: none;
}

ul li a:hover {
  color: #333;
  text-decoration: none;
}

.fa {
  font-size: 1.2rem;
  color: #333;
  margin-right: 10px;
}
  </style>